

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap-sass/assets/stylesheets/bootstrap";



#flash-message {
	position: absolute;
	color: red;
	bottom: 20px;
	right: 20px;
	z-index: 10;
}
